<SectionHeader Title="@HeaderTitle" Subtitle="@HeaderSubtitle" Info="@HeaderInfo" />
<div class="row">
    <div class="col-lg-3">
        <div class="image-col-content">
            <div class="image-container">
                <img src="https://avatars.githubusercontent.com/u/11906403?v=4" alt="Facundo vega front picture">
                <div class="social-network-container">
                    <a href="https://github.com/facundoVega?tab=repositories"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/facundo-vega-55286494/"><i class="bi bi-linkedin"></i></a>
                    <a href="mailto:horacio_facundo.vega@hotmail.com"><i class="bi bi-envelope-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="about-me-info-container">
            <h3>Hey, I'm Facundo.</h3>
            <p class="subtitle"> I’m a software engineer with plus 4 years of experience, in all kind of projects.</p>
            <p class="content-info">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="content-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <p class="content-info">Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</p>
            <p class="content-info">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
            <p class="content-info">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
            <p class="content-info">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
        </div>
    </div>
</div>


@code {
    private string HeaderTitle = "About me";
    private string HeaderSubtitle = "Who is Facundo Vega?";
    private string HeaderInfo = "A software engineer passionate about coding";

}
