@inject IJSRuntime JS;
@using Portfolio.State;
@inject ILanguageState languageState;
@implements IDisposable;
@inject IConfiguration configuration;


<div id="contact-me" class="contact-container">
    <div class="contact-content">
        <h3 class="title">@content.Title</h3>
        <h4 class="subtitle">@content.Subtitle</h4>
        <div class="contact-link-container">
             <img class="link-image" src="images/mail.svg" />
            <a class="link" href="mailto:horacio_facundo.vega@hotmail.com">horacio_facundo.vega@hotmail.com</a>
        </div>
        <ul class="links-list">
            @foreach(var link in content.Links)
            {
                <li class="link-list-item"><button @onclick='(()=>scrollTo(link.IdRedirect))'>@link.Value</button></li>
            }
        </ul>
    </div>

</div>

@code {
    private ContactMeContent content;

    private void scrollTo(string elementId)
    {
        var jsInProcess = (IJSInProcessRuntime)JS;
        jsInProcess.InvokeVoid("scrollToElement", elementId);
    }

    protected override void OnInitialized()
    {
        content = configuration.GetSection($"ContactMe:English").Get<ContactMeContent>();
        languageState.OnChange += LanguageStateHasChanged;
    }

    public void Dispose()
    {
        languageState.OnChange -= StateHasChanged;
    }

    private void LanguageStateHasChanged()
    {
        content = configuration.GetSection($"ContactMe:{languageState.SelectedLanguage}").Get<ContactMeContent>();
        StateHasChanged();
    }

}
