@inject IJSRuntime JS;

<div class="row footer-row">
    <div class="col-lg-6 order-lg-2">
        <div class="contact-me-container">
            <h2 class="contact-me-title" >Gain A New Perspective On Life & Business</h2>
            <p class="contact-me-info">
                <strong>Join 120,000+ subscribers getting mindf*cked while reading The Koe Letter</strong> every Saturday morning (you may learn a bit about life & business too).
            </p>
            <ContactMeForm />
        </div>
    </div>
    <div class="col-lg-6 order-lg-1">
        <div class="social-network-container">
            <button @onclick='(()=>scrollTo("welcome"))'  class="portfolio-logo">FV</button>
            <h3 class="network-title">Work Less. Earn More. Enjoy Life.</h3>
            <p class="network-info">I dive deep into human potential, lifestyle design, and one-person businesses to give you a unique, digestible way of improving your life.</p>
            <SocialLinks />
        </div>
    </div>
    <span class="trademark order-lg-3">Powered by Blazor</span>
</div>

@code {
    private void scrollTo(string elementId)
    {
        var jsInProcess = (IJSInProcessRuntime)JS;
        jsInProcess.InvokeVoid("scrollToElement", elementId);
    }
}
