<div id="@SectionId" class="section-container">
    <h3 class="section-title">@Title</h3>
    <h2>@Subtitle</h2>
    <p>@Info</p>
</div>


@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Subtitle { get; set; }

    [Parameter]
    public string Info { get; set; }

    [Parameter]
    public string SectionId { get; set; }
}
