
<div div class="row">
    <div class="col-12 d-block d-md-none">
        <BSCarousel HasControls="true" HasIndicators="true">
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="Angular" Image="/Images/angular-logo.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="Net core" Image="/Images/Net.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="SQL Server" Image="/Images/sql-logo.jpg" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="Azure cloud" Image="/Images/microsoft-azure.svg" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="Javascript" Image="/Images/JavaScript.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="React" Image="/Images/react-logo.webp" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="CSS" Image="/Images/CSS3.jpg" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="EF Core" Image="/Images/EFCore.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="LinQ" Image="/Images/Linq.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
        </BSCarousel>
    </div>

    <div class="col-12 d-none d-md-block  d-lg-none ">
        <BSCarousel HasControls="true" HasIndicators="true">
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="Angular" Image="/Images/angular-logo.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                    <SkillCard Title="Net core" Image="/Images/Net.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="SQL Server" Image="/Images/sql-logo.jpg" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                    <SkillCard Title="Azure cloud" Image="/Images/microsoft-azure.svg" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="Javascript" Image="/Images/JavaScript.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                    <SkillCard Title="React" Image="/Images/react-logo.webp" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="CSS" Image="/Images/CSS3.jpg" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                    <SkillCard Title="EF Core" Image="/Images/EFCore.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="LinQ" Image="/Images/Linq.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
        </BSCarousel>
    </div>
    <div class="col-12 d-none d-lg-block great-carousel">
        <BSCarousel HasControls="true" HasIndicators="true">
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="Angular" Image="/Images/angular-logo.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                    <SkillCard Title="Net core" Image="/Images/Net.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                    <SkillCard Title="SQL Server" Image="/Images/sql-logo.jpg" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                     <SkillCard Title="Azure cloud" Image="/Images/microsoft-azure.svg" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                    <SkillCard Title="Javascript" Image="/Images/JavaScript.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                    <SkillCard Title="React" Image="/Images/react-logo.webp" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="CSS" Image="/Images/CSS3.jpg" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                    <SkillCard Title="EF Core" Image="/Images/EFCore.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                    <SkillCard Title="LinQ" Image="/Images/Linq.png" Info="Angular is a TypeScript-based, free and open-source single-page web application framework" />
                </div>
            </BSCarouselItem>
        </BSCarousel>
    </div>
</div>



@code {

}
