<SectionHeader SectionId="stack"  Title="@HeaderTitle" Subtitle="@HeaderSubtitle" Info="@HeaderInfo" />
<div class="row stack-container">
    <div class="col-lg-6">
        <div class="main-stack-container">
            <img class="main-stack-image" src="/images/main-stack.jpg" />
        </div>
    </div>
    <div class="col-lg-6">
        <div class="stack-detail-container">
            <h2 class="stack-detail-title">Modern Mastery HQ</h2>
            <p class="stack-detail-info">Join 1000+ members improving themselves, their work, and their lifestyle.</p>
            <p class="stack-detail-info"><strong>Gain instant access to 170+</strong> content, social media, branding, productivity, marketing, sales, fitness, and mental wealth strategies.</p>
            <p class="stack-detail-info">(Not to mention the monthly challenges, community support, live trainings, workshops, and <strong>everything else you need to eliminate buying courses from your life.)</strong></p>
            <p class="stack-detail-info">All for less than a dollar a day.</p>
        </div>
    </div>
</div>

<SkillCarousel />

@code {
    private string HeaderTitle = "Stack";
    private string HeaderSubtitle = "Join the new 1%";
    private string HeaderInfo = "Curiosity exploration, 4-hour workdays, & digital real estate.";
}
