<div id="welcome" class="row welcome-row">
    <div class="col-lg-6">
        <div class="content-container">
            <h5 class="title">Facundo Vega</h5>
            <h2 class="heading-title"> Software Engineer. Code Lover</h2>
            <p class="welcome-info"><strong>Join 120,000+ getting mindf*cked every Saturday morning</strong> while reading The Koe Letter (you’ll learn a bit about life & business too.)</p>
            <ContactMeForm/>
        </div>
     </div>
</div>



@code {

}
