@inject NavigationManager NavigationManager

<div class="cert-container" @onclick='NavigateToCert'>
    <img class="cert-image" src="@Image" alt="Azure developer associate badge">
    <h3 class="cert-title">@Title</h3>
</div>

@code {
    [Parameter]
    public string Image { get; set; }

    [Parameter]
    public string Link { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Info { get; set; }

    [Parameter]
    public string HighlitghtedText { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    private void NavigateToCert()
    {
        NavigationManager.NavigateTo(Link);
    }

}
