<div class="contact-me-container">
    <input maxlength="30" @bind="CompanyInputValue" placeholder="Company Name" type="text" />
    <a href="mailto:horacio_facundo.vega@hotmail.com@(GetBodyMailMessage)" class="contact-me-link">Contact me</a>
</div>

@code {
    private string? CompanyInputValue { get; set; }
    private const string BodyMessage = "Hey%20Facundo%20we%20are%20{0},%20we%20want%20to%20work%20with%20you...";
    private const string BodyMessageNoCompany = "Hey%20Facundo%20we%20want%20to%20work%20with%20you...";

    private string GetBodyMailMessage => string.IsNullOrEmpty(CompanyInputValue) ? $"?body={BodyMessageNoCompany}" :
        $"?body={string.Format(BodyMessage, CompanyInputValue)}";
}
