@page "/"


<Navbar/>
<div class="container-fluid">
    <Welcome/>
    <Certs />
    <Stack />
    <AboutMe/>
    <Experience />
    <ContactMe />
    <Footer/>
</div>
@*TODO
    Apply language state management using this pattern:
    @*https://chrissainty.com/3-ways-to-communicate-between-components-in-blazor/*@
