.navbar-container[b-3k2s3u9zxv] {
    position:relative;
    width:100%;
}

.navbar[b-3k2s3u9zxv] {
    z-index:2;
}

.main-navbar-container[b-3k2s3u9zxv] {
    display: flex;
}

.navbar-items-container.navbar-items-container[b-3k2s3u9zxv] {
    justify-content: center;
    flex-grow: initial;
    width: 80%;
}

.navbar-brand.navbar-brand-icon[b-3k2s3u9zxv] {
    margin-left: 40px;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}

.mobile-menu-initial[b-3k2s3u9zxv] {
    display:none;
}

.mobile-menu-show[b-3k2s3u9zxv] {
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: black;
    left: 0;
    z-index: 1;
    animation-duration: 0.3s;
    animation-name: fadeIn-b-3k2s3u9zxv;
    transition: height 0.3s;
}

.mobile-menu-hide[b-3k2s3u9zxv] {
    position: absolute;
    width: 100%;
    top: -215%;
    background-color: black;
    left: 0;
    z-index: 1;
    animation-duration: 0.3s;
    animation-name: fadeOut-b-3k2s3u9zxv;
    transition: height 0.3s;
}

.mobile-language-button[b-3k2s3u9zxv] {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    padding-left: 14px;
    padding-top: 10px;
    font-size: 14px;
    border-bottom: 1px solid black;
    padding-bottom: 14px;
    color: white;
}

.mobile-language-button i[b-3k2s3u9zxv] {
    margin-right: 5px;
}

.mobile-language-button:hover[b-3k2s3u9zxv] {
    color: wheat;
}

.mobile-language-show[b-3k2s3u9zxv] {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    border-bottom: 1px solid black;
    animation-duration: 0.3s;
    animation-name: fadeLeftIn-b-3k2s3u9zxv;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
}

.mobile-language-hide[b-3k2s3u9zxv] {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    left: 100%;
    border-bottom: 1px solid black;
    animation-duration: 0.3s;
    animation-name: fadeLeftOut-b-3k2s3u9zxv;
}

.mobile-language-header[b-3k2s3u9zxv] {
  
}

.mobile-language-header > span[b-3k2s3u9zxv] {
    position:absolute;
    left:1rem;
}

.mobile-language-title[b-3k2s3u9zxv] {
    display: flex;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-bottom: 7px;
    border-bottom: 0.666667px solid #636363;
    color: black;
    text-decoration: none;
}

.mobile-language-title .header-icon[b-3k2s3u9zxv] {
    position: absolute;
    left: 1rem;
}

.mobile-language-title .header-text[b-3k2s3u9zxv] {
    margin-left: auto;
    margin-right: auto;
}

.mobile-language-list[b-3k2s3u9zxv] {
    list-style: none;
    padding-left: 0;
}

.mobile-language-list li[b-3k2s3u9zxv] {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    padding-left: 20px;
    cursor:pointer;
}

.mobile-language-list li.active-language[b-3k2s3u9zxv] {
    border-left: 3px solid black;
    padding-left: 17px;
}


@keyframes fadeLeftIn-b-3k2s3u9zxv {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}

@keyframes fadeLeftOut-b-3k2s3u9zxv {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}

@keyframes fadeIn-b-3k2s3u9zxv {
    from {
        top: -100%;
    }

    to {
        top: 100%;
    }
}

@keyframes fadeOut-b-3k2s3u9zxv {
    from {
        top: 100%;
    }

    to {
        top: -215%;
    }
}

.mobile-menu-link[b-3k2s3u9zxv] {
    width: 100%;
    display: block;
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    font-size:14px;
    padding-left:15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.mobile-menu-link.text-light:hover[b-3k2s3u9zxv] {
    background-color: #F9FAFD;
    color: black!important;
}

.nav-link.text-light[b-3k2s3u9zxv] {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    margin-right: 10px;
}

.nav-link.text-light:hover[b-3k2s3u9zxv] {
   cursor: pointer;
   text-decoration: underline;
}

.language-button-container[b-3k2s3u9zxv] {
    margin-right: 40px;
}

.language-button[b-3k2s3u9zxv] {
    display: none;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.6rem;
}

.navbar-toggler-icon[b-3k2s3u9zxv] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    color: white;
}
.navbar-toggler-icon.close-icon[b-3k2s3u9zxv] {
    font-size: 1.5rem;
}

.navbar-toggler[b-3k2s3u9zxv] {
    margin-left: auto;
}

.dropdown-menu[b-3k2s3u9zxv] {
    right:0;
}

.hide[b-3k2s3u9zxv] {
    display: none;
}

.show[b-3k2s3u9zxv] {
    display:block;
}

.dropdown-menu.language-dropdown-menu[b-3k2s3u9zxv] {
    padding: 0;
    top:100%;
}

.dropdown-menu.language-dropdown-menu .language-item[b-3k2s3u9zxv] {
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top:10px;
    font-family: 'Teko', sans-serif;
    padding-left: 20px;
    cursor: pointer;
}

.dropdown-menu.language-dropdown-menu :first-child[b-3k2s3u9zxv] {
    border-bottom: 1px solid #ddd;
}

.dropdown-menu.language-dropdown-menu .language-item.language-item.active-language[b-3k2s3u9zxv] {
    border-left: 3px solid black;
    padding-left: 17px;
}



@media (min-width: 993px) {
    .navbar-brand.navbar-brand-icon[b-3k2s3u9zxv] {
        margin-left: auto;
    }

    .language-button[b-3k2s3u9zxv] {
        margin-right: auto;
        display:block;
    }
 
    .mobile-menu-show[b-3k2s3u9zxv] {
        display:none;
    }
}